.App {
    padding: 30px;
    display: flex;
}

.App > div {
    margin-right: 50px;
}

.buttonDelete {
    margin-left: 10px;
}

.error {
    border: red 3px solid;
}

.error-message {
    color: red;
}

.active-filter {
    background-color: rgba(127, 175, 239, 0.91);
}

.is-done {
    opacity: 0.5;
}